#map {
  width: 650px;
  height: 400px;
}
.header {
  padding: 80px;
  text-align: center;
  background: #ffffff;
  color: rgb(0, 1, 88);
  font-size: 60px;
}



/* 
header {
  width:100%;
  background-image:url("Assets\style.css");
} */

/* Left of tryinh yo make image extend from one side to the other */


/* Container holding the image and the text */
.container {
    position: absolutee;
    text-align: left;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.maps {
    height: 500px;
    width: 400px;
}

